body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1 {
    font-size: 50px;
    font-weight: 700;
}
.descript {
    font-size: 18px;
}
.underlined {
    text-decoration: underline;
}