/* 5a */
.tahoma {
    font-family: Tahoma;
}

/* 5b */
.big {
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}
.sub {
    font-family: Arial;
    color:red;
    font-style: italic;
}

/* 5c */
.title1 {
    font-family: Verdana;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}
.beg {
    font-family: Verdana;
    color:gray;
    margin-bottom: 15px;
}
.in {
 font-family: Verdana;
 width: 300px;
}
.get {
    background-color: green;
    color:white;
}

/* 5d */
.shop {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
}
.see {
    font-family: Arial;
    color:gray;
}
.link {
    font-family: Arial;
    color:blue;
    cursor: pointer;
}

/* 5e */
.new {
    font-family: Arial;
    color:orange;
    font-weight: bold;
    font-size: 12px;
}
.mac {
    font-family: Arial;
    font-weight: bold;
}
.super {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
}
.price {
    font-family: Arial;
    margin-bottom: 10px;
}
.buy {
    background-color: rgb(0, 113, 227);
    color:white;
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
    display: block;

}

/* 5f */
.price2 {
    font-family: Arial;
    font-size: 24px;
}
.dollar {
    font-family: Arial;
    color: gray;
    font-size: 14px;
}
.diskon {
    font-family: Arial;
    color:green;
}
.after {
    font-family: Arial;
    color:gray;
}
.min {
    font-family: Arial;
    color: red;
}

/* 5g */
.free {
    font-family: Arial;
    font-weight: bold;
}
.user {
    color: gray;
    font-weight: normal;
    margin-left: 5px;
}
.descript {
    font-family: Arial;
    padding-bottom: 1px;
}
.here {
    font-family: Arial;
}
.chip {
    color:rgb(29, 155, 240);
}